@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========== Typography ==========  */


.card-title {
    color: #05cbe9;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-bottom: 1em;
}

.card-body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

.card-btn-read {
    font-size: 1.25rem;
}


/* ========== Card ==========  */

.card {
    width: 95%;
    margin: 0 auto;
    background: #111d4a;
    color: #fff;
    font-family: "Blinker", sans-serif;
    display: grid;
    /* grid-template: 300px auto auto 100px / auto auto;*/
    grid-template: 300px 1em auto auto 100px 1em / 1em auto auto 1em;
}

.card-img {
    object-fit: cover;
    object-position: top;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
}

.card-title {
    grid-column: 1 / -1;
    grid-row: 3;
}

.card-body {
    grid-column: 1 / -1;
    grid-row: 4;
}

.card-time {
    opacity: 0.6;
    line-height: .9;
    align-self: end;
    grid-row: 5;
    grid-column: 2;
    /* 2 / -2; */
}

.card-time span {
    font-weight: 700;
    font-size: 1.3em;
    display: block;
}

.card-btn {
    font-size: 1.25rem;
    background: #05cbe9;
    color: #111d4a;
    text-decoration: none;
    font-weight: 700;
    padding: .5em 1.25em;
    letter-spacing: 1px;
    align-self: end;
    justify-self: end;
    grid-row: 5;
    grid-column: 3;
    /* 3 / -2; */
}

@media (min-width: 768px) {

    .card {
        grid-template: 1em auto auto auto 1em / 250px 1em auto 1em auto 1em;
        max-width: 1024;
    }

    .card-img {
        grid-column: 1;
        grid-row: 1 / -1;
    }

    .card-title {
        grid-column: 3 / -2;
        grid-row: 2;
    }

    .card-body {
        grid-column: 3 / -2;
        grid-row: 3;
    }

    .card-time {
        grid-column: 3;
        grid-row: 4;
    }

    .card-btn {
        grid-column: 5;
        grid-row: 4;
    }

}