* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
}

.zone {
    font-size: 1.1rem;
    transition: all 0.3s linear;
}

.zone:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.20) 0px -15px 20px;
}


/* NAV */

nav ul {
    display: flex;
    text-transform: uppercase;
}

nav ul li {
    list-style: none;
    margin: 0 0.75rem
}

.push {
    margin-left: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.green {
    background-color: #57cc99;
    padding: 1.5rem;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}


/* COVER */

.red {
    background: linear-gradient(#C655BE 10%, #cf0404 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #333;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;

}

.cover {
    width: 25rem;
}

/* GRID */

.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    ;
}

.blue {
    background: linear-gradient(#7abcff 30%, #669bbc 100%);
    padding: 20px;
}

.blue div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.box>img {
    width: 100%;
    padding: 50px 130px;
    margin: 20px;
}

.box:hover {
    transform: rotate(-3deg);
}


footer {
    background-color: #d1fffd;
    color: #404040;
    text-align: center;
    padding: 3rem 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}